@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de senha";
}

<div class="row">
    <div style="margin:auto; max-width:330px;">
        <h2 style="padding-top: 7%;">@ViewData["Title"]</h2>
        <p>
            Por favor, verifique o link enviado para o seu e-mail.
        </p>
    </div>
</div>

