@model ControleCreditos.Models.Client;

@{
    ViewData["Title"] = "Novo Cliente";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div style="max-width: 50%; margin: auto">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" required />
            </div>

            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
