@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div style="margin:auto; max-width:330px; padding-top: 7%">
        <span>Aplicativo de gerenciamento de créditos</span>
    </div>
</div>
